body{
    background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Pokedex*/
.pokedex{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 900px;
    width: 400px;
    background-color: red;
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 0px 5px 50px 10px #888;
}
/*Parte Superior*/
.head{
    flex: 1;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}
.circle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: auto;
    border: solid 2px black;
    border-radius: 100%;
    background-color: white;
    height: 70px;
    width: 70px;
}
.circle1-2{
    border: solid 2px black;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: #00aeec;
}

.circle2{
    border: solid 2px black;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: red;
}
.circle3{
    border: solid 2px black;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: yellow;
}
.circle4{
    border: solid 2px black;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: green;
}
/*Centro/ pantalla*/
.mid{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: auto;
}
.borderContainer{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        20% 100%,
        0% 80%
    );
    border-radius: 20px;
    border: solid 2px black;
    height: 100%;
    width: 100%;
    background-color: white;
}
.mainContainer{
    flex: 5;
    height: 100%;
    width: 100%;
    background-color: #57595b;
}
.mainContainerActive{
    border: solid 2px black;
    background-color: none;
}
.buttons{
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    width: 100%;
}
.redButton{
    height: 40px;
    width: 40px;
    border: solid 2px black;
    background-color: red;
    border-radius: 100%;
}
/*Parte Baja/ controles*/
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
    flex: 1;
}
.greenBox{
    border: solid 2px black;
    border-radius: 10px;
    height: 100%;
    width: 50%;
    background-color: #39b549;
}
.card-img-top{
    height: auto;
    width: 100%;
}
.card-img-top{
    border-bottom: solid 2px black;
}